/* e.g. src/styles/tailwind.css or main.css */
@import "tailwindcss";

@theme {
    /* Breakpoints */
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1440px;

    /* Colors */
    --color-hrm-green: #618930;
    --color-hrm-dark-green: #15461f;
    --color-black-neutral: #1a1a1a;
    --color-white-neutral: #f7f7f7;

    /* Fonts */
    --font-family-roboto: "Roboto", sans-serif;
}
