/* e.g. src/styles/tailwind.css or main.css */
/* @import "tailwindcss";  */

@theme {
  /* Breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  /* Colors */
  --color-hrm-green: #618930;
  --color-hrm-dark-green: #15461F;
  --color-black-neutral: #1A1A1A;
  --color-white-neutral: #F7F7F7;

  /* Fonts */
  --font-family-roboto: "Roboto", sans-serif;
}
